html {
    scroll-behavior: smooth;
}
.navbar-brand {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size : 30px;
}
.nav-item {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
.jumbotron {
    text-align: center;
    padding-top: 7rem;
    background-image: url(hlimg/candy\ candy.jpg);
    background-size: 100%;
    font-family: 'Freckle Face', cursive;
    color:whitesmoke;
}
#about {
    padding: 10rem;
}
#Flavours {
    padding: 10rem;
}
#products {
    padding: 30px;
}
.col h2 {
    padding: 30px;
    font-family: 'Staatliches', cursive;
}
#contact {
    padding: 4rem;
    background-color: #ff4db5;
}

